<!DOCTYPE html>
<html>
  <head>
    <title>RBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <nav class="navbar navbar-expand-md navbar-default bg-default">
     <div class="container">
        <a class="navbar-brand" href="index.html"><h1>rBlog<span> /Manager/</span></h1></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class= "nav-item  <%= params[:controller] == 'admin/posts' ? 'active' : ''%>" style="padding-right: 20px">
            <a class="nav-link"><%= link_to "Posts", admin_posts_path%> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= params[:controller] == 'admin/categories' ? 'active' : ''%>" style="padding-right: 20px">
            <a class="nav-link"><%= link_to "Categories", admin_categories_path%></a>
          </li>
          <li class= "nav-item <%= params[:controller] == 'admin/users' ? 'active' : ''%> style="padding-right: 20px">
            <a class="nav-link"><%= link_to "Users", admin_users_path%></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12" >
              <div class="well">
                   <!--Alerts & Messages-->
                 <% if flash[:notice]%>
                   <div class="alert alert-success"><%= flash[:notice] %></div>
                 <% end %>
                 <% if flash[:alert]%>
                   <div class="alert alert-danger"><%= flash[:alert] %></div>
                 <% end %>
                <%= yield %>
              </div>
          </div>
        </div>
      </div>
    </section>
    </div>
    <footer>
      <p>Copyright &copy; 2018, rBlog | <a href="login.html">Admin Login</a></a></p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>

    <script src="js/bootstrap.js"></script>
  </body>
</html>
